{% extends 'todo_app/base.html' %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weigth-bold">
        <tr>
            <td>Title</td>
            <td>Task type</td>
            <td>Status</td>
            <td>Created</td>
            <td>
                <a href="{% url 'task_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus-square"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for task in task_list %}
        <tr>
            <td>{{task.title}}</td>
            <td>{{task.task_type}}</td>
            <td>{{task.done}}</td>
            <td>{{task.created}}</td>
            <td>
                <a href="{% url 'task_update' task.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"> </i>
                </a>
                <form action="{% url 'task_delete' task.id  %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger floar-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}