{% extends 'todo_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{ form.title|as_crispy_field }}
    <div class="row">
        <div class="col-md-10">
            {{ form.task_type|as_crispy_field }}
        </div>
        <div class="col-md-2">
            {{ form.done|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a href="{% url 'tasks_list' %}" class="btn btn-secondary btn-block mb-2">
                Cancle
            </a>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-success btn-block">Create</button>
        </div>
    </div>

</form>
{% endblock content %}